{% extends 'base.html' %}
{% load static %}
{% block content %}
<style type="text/css">
:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

</style>
{% if user.is_authenticated and images %}
<div class="album py-5 bg-light">
    <div class="container">
        {% for image in images %}
        {% if image %}
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" style="width:300;height:300" src="{{ image.thumbnail.url }}" alt="{{ image.title }}">
                    <div class="card-body">
                        <p class="card-text">{{ image.date }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">

                                <a href="#" onclick="confirmDeleteAction()" class=" btn btn-danger btn mx-1">Delete</a>
                                <button onclick="confirmDeleteAction({{ image.id }})"> Delete</button>
                                <script type="text/javascript">
                                    function confirmDeleteAction(id) {
                                        if (confirm("Do you want to delete this image, this action is unreversible!")==true){
                                            window.open("delete/"+id);
                                        }
                                    }
                                </script>
                                <a href="{{ image.image.url }}" class=" btn btn-primary btn mx-1">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
        {% else %}
            <p>There are no images to show</p>
{% endif %}
{% endblock content %}