{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_staff %}
<a class="btn btn-primary m-3" href="{% url 'account_registration' %}"> Create Account </a>
<a class="btn btn-primary m-3" href="{% url 'upload' %}"> Upload Image </a>
<a class="btn btn-primary m-3" href="{% url 'admin:index' %}"> Configuration </a>

<a href="{% url 'vaccinations_start' %}">
    <div class="container" style="max-width:100px">
        {% include 'vaccine.svg' %}
    </div> 
</a>


{% else %}
<div class="container w-50 m-1">
    <div class="row">
        <div class="col-sm">
            <a href="{% url 'show_images' %}">
                <div class="container" style="max-width:100px">
                    {% include 'image.svg' %}
                </div>
            </a>
        </div>
        <div class="col-sm">
            <a href="{% url 'vaccination_report' %}">
                <div class="container" style="max-width:100px">
                    {% include 'vaccine.svg' %}
                </div>
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}