{% extends 'base.html' %}
{% load static %}
{% block content %}
{% if user.is_staff %}
<a class="btn btn-primary m-3" href="{% url 'account_registration' %}"> Create Account </a>
<a class="btn btn-primary m-3" href="{% url 'upload' %}"> Upload Image </a>
<a class="btn btn-primary m-3" href="{% url 'admin:index' %}"> Configuration </a>
<a class="btn btn-primary m-3" href="{% url 'create_vaccination' %}"> Create Vaccination </a>

{% endif %}
<a class="btn btn-primary m-3" href="{% url 'show_images' %}"> Show Image </a>
{% endblock content %}