<style type="text/css">
	.footer{
		

	}
</style>

<div class=" bg-dark lh-sm text-white fs-6 py-2 text-center footer border-top shadow-lg">
	<p class="m-auto">&copy; 2025 All Rights Reserved</p>
	<p class="m-auto text-white"><a class="text-decoration-none text-white" href=" {% url 'privacy' %}">Privacy Policy</a></p>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>