{% extends 'base.html' %}

{% block content %}


<style type="text/css">
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


.h3{
	text-align: center;
}
.blog-pists{
	max-width: 500px;
	margin:auto;
}


</style>
<main class="form-signin w-100 m-auto">
	<form method="post">
		{% csrf_token %}

		<h1 class="h3 mb-3 fw-normal">Change account settings</h1>

		<div class="form-floating">
			<input type="email" name="email" class="form-control" id="floatingInput" placeholder="name@example.com"
				   value="{{account_form.initial.email}}" required autofocus>
			<label for="floatingInput">Enter a new email address</label>
		</div>


		{% for field in account_form %}
		{% for error in field.errors %}
		<p style="color:red;">{{error}}</p>
		{% endfor %}
		{% endfor %}

		{% if account_form.non_field_errors %}
		<div style="color:red;">
			<p>{{account_form.non_field_errors}}</p>
		</div>
		{% endif %}

		{% if success_message %}
		<p style="color:green;"> {{success_message}}</p>
		<p>Your new email is: {{account_form.initial.email}}</p>

		{% else %}
		<p style="color:red;">Changes will not be made until you click Save Changes</p>
		{% endif %}

		<button class="btn btn-primary w-100 py-2" type="submit">Save Changes</button>
	</form>

	<div class="d-flex flex-column">
		<br>
		<a class="m-auto" href="{% url 'password_change' %}">Change password</a>
	</div>

	<p>{{account.first_name}}</p>
	<p>{{account.last_name}}</p>
	<p>{{account.email}}</p>
	<p>{{account.date_of_birth}}</p>
</main>



{% endblock content %}