{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;

}

.form-signin input[type="text"] {
  margin-bottom: 10px;

}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}
.h3{
	text-align: center;
}

</style>
<main class="form-signin w-100 m-auto">
	<h1 class="h3 mb-3 fw-normal">Register an Account</h1>
	<form method="post">
		{% csrf_token %}
		<div class="form-floating">
			<input type="text" name="first_name" class="form-control" id="floatingFirstName" placeholder="Name" autofocus required>
			<label for="floatingFirstName">First Name</label>
		</div>
		<div class="form-floating">
			<input type="text" name="last_name" class="form-control" id="floatingLastName" placeholder="Name" autofocus required>
			<label for="floatingLastName">Last Name</label>
		</div>

		<div class="form-floating">
			<input type="email" name="email" class="form-control" id="floatingEmail" placeholder="Email Address" autofocus required>
			<label for="floatingEmail">Email address</label>
		</div>

		<div class="form-floating">
			<input type="password" name="password1" class="form-control" id="floatingPassword1" placeholder="Password" required>
			<label for="floatingPassword1">Enter a new password</label>
		</div>

		<div class="form-floating">
			<input type="password" name="password2" class="form-control" id="floatingPassword2" placeholder="Confirm Password" required>
			<label for="floatingPassword2">Confirm your new password</label>
		</div>
		{{ registration_form.date_of_birth}}


		{% for field in registration_form %}
		{% for error in field.errors %}
		<p style="color:red;">{{error}}</p>
		{% endfor %}
		{% endfor %}

		{% if registration_form.non_field_errors %}
		<div style="color:red;">
			<p>{{registration_form.non_field_errors}}</p>
		</div>
		{% endif %}

		<button class="btn btn-primary w-100 py-2" type="submit">Register</button>
	</form>
</main>

{%endblock content%}