{% extends 'base.html' %}
{% load static %}

{% block content %}
<style type="text/css">
.form-signin {
  max-width: 330px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;

}

.form-signin input[type="text"] {
  margin-bottom: 10px;

}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}
.h3{
	text-align: center;
}

</style>
<main class="form-signin w-100 m-auto">
	<form method="post">{% csrf_token %}
		<div class=" d-flex justify-content-center">
			{% include 'welcome.svg' %}
		</div>
	
	    <h1 class="h3 mb-3 fw-normal">Request to Register an Account</h1>
		<p> If you have not been given account credentials use this form to request access, expect an email back within 72 hours pending human verification.</p>
	
		<div class="form-floating">
			<input type="text" name="name" class="form-control" id="floatingname" placeholder="Name" autofocus required>
			<label for="floatingName">Name</label>
		</div>
	
		<div class="form-floating">
	      <input type="email" name="email" class="form-control" id="floatingEmail" placeholder="Email Address" autofocus required>
	      <label for="floatingEmail">Email address</label>
	    </div>
	    
	    {% for field in registration_form %}
			{% for error in field.errors %}
					<p style="color:red;">{{error}}</p>
			{% endfor %}
		{% endfor %}
	
		{% if registration_form.non_field_errors %}
			<div style="color:red;">
				<p>{{registration_form.non_field_errors}}</p>
			</div>
		{% endif %}
	
	    <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
	</form>
</main>

{%endblock content%}